.Formulario{
  width: 400px;
  padding: 30px;
  border: 2px solid #1E90FF;
}
.Formulario p{
  width: 100%;
  font-size: 1.2em;
}
.field{
  width: 100%;
  margin: 15px 0;
}
.field span{
  padding-left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
}
.radiobox label{
  width: auto;
  display: inline-block;
}
input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #0000CD;
  outline: none;
}
input#nao{
  margin-left: 30px;
}
textarea{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}
input[type=submit]{
  display: block;
  background-color: #87CEFA;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}
.checkbox{
  margin: 20px 0;
}
.checkbox label{
  width: auto;
  display: inline-block;
}
